<!DOCTYPE html>
<html>
<head>
    <title> About </title>
    <link rel="icon" href="/img/aa.jpg">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
{{!-- next 2 lines are to take the partial template named header and put it in this page and to take name attribute value from app.js and display it --}}
    <div>
        {{>header}}
         <img src="/img/1.jpg">
    </div>
    {{!-- <h1> This is : {{name}} </h1> --}}

    

    {{>footer}}


</body>


</html>